<div class="layout">
  <p>Pregled stanja reda u COVID ambulantama</p>
  <mat-form-field appearance="fill">
    <mat-label>Ambulanta</mat-label>
    <mat-select>
      <!-- *ngFor="let food of foods" [value]="food.value" unutar mat-optiojs -->
      <mat-option> xd </mat-option>
    </mat-select>
  </mat-form-field>

  <p class="centerText">Trenutno se u redu nalazi</p>
  <h1 class="number">50</h1>

  <p class="centerText">osobe.</p>
  <p class="centerText">Trenutno se obradjuju pacijenti sa brojevima:</p>
  <h1 class="number">50,21,32</h1>

  <p>
    Ukoliko zelite da rezervisete mjesto u redu, molimo Vas kliknite
    <a [routerLink]="['/form']"> ovdje</a>.
  </p>
</div>
