#grb {
  width: 60px;
  height: 80px;
}
#toolbarTitle {
  color: red;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 0px;
  margin-bottom: -10px;
}

#toolbarTitleContainer {
  margin-left: 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

#layout {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
